@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
   
}

*::selection{
    background-color: #fff;
    color: rgb(145, 255, 35) ;
}

body::-webkit-scrollbar{
   display:block ;
   width: 8px;
    background-color: rgb(109, 162, 56);
    
}

body::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 50px;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: rgb(145, 255, 35);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur{
    height: 180px;
    width: 180px;
    background-color: rgb(109, 162, 56);
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}


#nav{
    height: 145px;
    width: 100%;
    /* background-color: rgb(224, 147, 46); */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 0 150px;
    position: fixed;
    z-index: 99;
}

#nav img{
    height: 75px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 700;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(0,0,0, 0.3);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1::before{
content: "THRILL. EXPLORE. WILDERNESS.";
position: absolute;
color: black;
top: -6px;
left: -6px;
-webkit-text-stroke: 2px rgb(145, 255, 35);
z-index: -1;
}

#page1 h1{
    font-size: 70px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}

#page1 h2{
    font-size: 30px;
    font-weight: 700;
}

#page1 p{
    font-size: 18px;
    font-weight: 500;
    width: 30%;
}

#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}


#scroller{
    /* background-color: red; */
    white-space: nowrap;
    text-transform: uppercase;   
     overflow-x: auto;
     overflow-y: hidden;
     position: relative;
     z-index: 10;
}

#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller::-webkit-scrollbar{
    display: none;
}

#scroller h4{
    display: inline-block;
    font-size: 100px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 10px;
    transition: all linear 0.5 ;
    color: transparent;
  
    -webkit-text-stroke: 2px #fff;
}


#scroller h4:hover{
    color:rgb(145, 255, 35); 
    -webkit-text-stroke: 2px rgb(145, 255, 35); 
}


@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#about-us{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    position: relative;
    z-index: 10;
}

#about-us img{
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
}

#about-us-in{
 width: 40%;
 text-align: center;
}

#about-us-in h3{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

#about-us-in p{
    font-size: 15px;
    line-height: 26px;
}


#card-cont{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 10;
    
}

.card{
    height: 80%;
    width: 28%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#card1{
   background-image: url("https://images.unsplash.com/photo-1568454537842-d933259bb258?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#card2{
    background-image: url("https://images.unsplash.com/photo-1467139701929-18c0d27a7516?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#card3{
    background-image: url("https://images.unsplash.com/photo-1528433556524-74e7e3bfa599?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.overlay{
    height: 100%;
    width: 100%;
    background-color:rgb(145, 255, 35); 
    padding: 30px;
    padding-top: 160px;
    opacity: 0;
    transition: all ease 0.5s;
}

.overlay h4{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    font-weight:700;
}

.overlay p{
    color: black;
}

.card:hover .overlay{
    opacity: 1;
}

.card:hover{ 
    transform: rotate3d(-1,1,0,20deg);
}

.green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to left bottom,rgb(18, 161, 82),rgb(145, 255, 35)) 
}


.green-div h4{
    width: 50%;
    line-height: 30px;
    font-size:23px ;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page3>p{
    font-size: 25px;
    font-weight: 600;
    width: 50%;
    text-align: center;
    /* text-transform: uppercase; */
}

#page3 img{
    position: absolute;
    height: 60px;
}

 
#page3 #colon1{
   left: 15%;
   top: 25%;
}


#page3 #colon2{
    bottom: 25%;
    right: 15%;
 
 }

 #page4{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:70px;
    position: relative;
 }


.elem{
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius:20px ;
    position: relative;
}

.elem h2{
    height: 100%;
    width: 100%;
    background-color:rgb(145, 255, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight:600 ;
    font-size: 40px;
    position: absolute;
    z-index: 10;
    transition: all ease 0.5s;

}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale:1.1;
}

.elem:hover h2{
    color: #fff;
    background-color: transparent;
}

.elem:hover img{
   scale:1;
}

#page4 h1{
    font-size: 85px;
    position: absolute;
    top:-18%;
    color: black;
    font-family: gilroy;
    -webkit-text-stroke: 2px #fff;
}

#footer{
    height: 40vh;
    width: 100%;
    background:linear-gradient(to left bottom,rgb(18, 161, 82),rgb(145, 255, 35)) ;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 100px;
    
}

#f1 img{
    height: 100px;
}

#f1, #f2, #f3, #f4{
    width: fit-content;
    position: relative;
    z-index: 99;
}

#f2 h3{
    font-size: 20px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    margin-bottom: 8px;
}

#f3 h3{
    font-size: 20px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    margin-bottom: 8px;
}

#f4 h3{
    font-size: 20px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 8px;
}